/* animations */
@keyframes appear {
  from {
    margin-top: 20px;
    margin-bottom: 0;
    opacity: 0; }
  to {
    margin-top: 0;
    margin-bottom: 20px;
    opacity: 1; } }

/* header */
.header-arrow {
  position: absolute;
  top: 28px;
  left: 21px;
  color: #353535;
  -webkit-text-stroke: 1px #353535; }

/* Headings */
.hf-udln::after {
  content: "";
  position: absolute;
  width: 45px;
  left: 0;
  bottom: 12px;
  border-bottom: 3px solid #99E2D0; }

/* menu card */
.menu-item {
  display: flex;
  margin-top: 20px;
  opacity: 0;
  animation: appear 1.5s forwards; }

.menu-input:checked + label .check {
  width: 80px; }

.menu-input:checked + label .check-icon {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.menu-label {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 18px;
  background-color: white;
  box-shadow: 2px 4px 10px #e1e1e1;
  overflow: hidden;
  cursor: pointer; }
  .menu-label .check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    transition: width 1s;
    background-color: #99E2D0; }
  .menu-label .check-icon {
    color: white;
    transform: rotate(360deg);
    transition: transform 1s; }

/* Item appearance delay */
.menu-item:nth-child(1n) {
  animation-delay: 0.2s; }

.menu-item:nth-child(2n) {
  animation-delay: 0.4s; }

.menu-item:nth-child(3n) {
  animation-delay: 0.6s; }
