/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

button, select {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer; }

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  select:focus {
    outline: none; }

/* Variables (scss) */
/* General */
/* Fonts */
body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Shrikhand', cursive; }

.fw-700 {
  font-weight: 700; }

/* Color styles */
.c-gray {
  color: #535353; }

.bg-gray-dark {
  background-color: #eaeaea; }

.bg-gray-light {
  background-color: #f6f6f6; }

/* Layout */
.w-full {
  width: 100%; }

.w-200 {
  width: 200px; }

/* Margin */
.m-auto {
  margin: auto; }

/* Padding */
.pad-15 {
  padding: 15px; }

.pad-h-15 {
  padding: 0 15px; }

/* Images */
.of-cover100 {
  object-fit: cover;
  height: 100%;
  width: 100%; }

/* Header */
header {
  position: relative;
  z-index: 5;
  height: fit-content;
  box-shadow: 0 3px 5px -2px #9c9c9c; }

.logo {
  box-sizing: content-box;
  height: 30px;
  width: fit-content;
  padding: 25px 0 15px 0; }
