/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ol,
ul {
  list-style: none; }

a {
  text-decoration: none;
  color: #000; }

button {
  background: none;
  border: none; }

/* Variables (scss) */
/* General */
body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-family: 'Shrikhand', cursive; }
