/* Card */

.card {
    position: relative;
    flex: 1 1 300px;
    border-radius: 15px;
    box-shadow: $shadow_2;
    background-color: #fff;;
    overflow: hidden;
    .new {
		position: absolute;
		top: 10px;
		right: 20px;
        font-size: 14px;
        font-weight: 600;
		color: #098c6c;
		background-color: $color_3;
		padding: 4px 24px;
		border-radius: 3px;
        box-shadow: 2px 4px 5px #4a4a4a;
    }
}

/* Menu link spans the whole card */

.stretch-link {
    position: absolute;
    inset: 0;
    h4, p {
        position: relative;
        left: 15px;
        top: 195px;
    }
}

/* Heart button */

.heart-button {
    &:hover {
        .heart-icon {
        animation: fade-out 1s forwards 0.5s;
        }
        .heart-filled::after {
        animation: fill-up 2s forwards;
        }
    }
}

.heart-icon,
.heart-filled {
    position: absolute;
    width: 25px;
    height: 22px;
    right: 20px;
    bottom: 40px;
}

/* empty hear outline */

.heart-icon {
    color: rgba(#000, 0);
    -webkit-text-stroke: 1px #000;
}

/* gradient fill-up animation */

.heart-filled {
    color: rgba(#000, 0);
    clip-path: url(#heart);
    transform: scale(0.85);

    &.bigger {
        transform: scale(0.9);
    }
}

.heart-filled::after {
    content: "";
    position: absolute;
    display: block;
    height: 45px;
    width: 45px;
    top: 22px;
    left: -11px;
    border-radius: 38%;
    background: linear-gradient(15deg, $color_2 0%, $color_1 100%);
}

/* animations */

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fill-up {
    from {
        opacity: 0;
        transform: rotate(0);
    }

    to {
        opacity: 1;
        transform: rotate(360deg);
        top: -2px;
    }
}