/* Fonts */

body {
    font-family: 'Roboto', sans-serif;
}

h1,
.shrik {
    font-family: 'Shrikhand', cursive;
}

.fs-14 {
    font-size: 14px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fw-300 {
    font-weight: 300;
}

.fw-700 {
    font-weight: 700;
}