/* Layout */

.txt-center {
    text-align: center;
}

.pos-rel {
    position: relative;
}

/* Flex layout */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.just-between {
    justify-content: space-between;
}

.ag-c {
    align-items: center;
}

.ag-start {
    align-items: flex-start;
}

.ag-end {
    align-items: flex-end;
}

.f-basic {
    flex: 1 1 auto;
}

.f-350 {
    flex: 1 1 350px;
}

.gap-7 {
    gap: 7px;
}

.gap-20 {
    gap: 20px;
}

.gap-40 {
    gap: 40px;
}

.col-g-20 {
    column-gap: 20px;
}

/* Dimensions */

.mx-h-50 {
    max-height: 50vh;
}

.w-full {
    width: 100%;
}

.w-190 {
    width: 190px;
}

.w-200 {
    width: 200px;
}

/* Margin */

.m-auto {
    margin: auto;
}

.m-v-15 {
    margin: 15px 0;
}

.m-top-over {
    margin-top: -50px;
}

.m-b-20 {
    margin-bottom: 20px;
}

/* Padding */

.pad-r-10 {
    padding-right: 10px;
}

.pad-15 {
    padding: 15px;
}

.pad-v-15 {
    padding: 15px 0;
}

.pad-h-15 {
    padding: 0 15px;
}

.pad-r-15 {
    padding-right: 15px;
}

.pad-b-15 {
    padding-bottom: 15px;
}

.pad-25 {
    padding: 25px;
}

.pad-30 {
    padding: 30px;
}

.pad-30-15 {
    padding: 30px 15px;
}

.pad-b-50 {
    padding-bottom: 50px;
}

/* Misc */

.sp-05 {
    letter-spacing: 0.5px;
}

.hidden {
    display: none;
}

.ovf-hid {
    overflow: hidden;
}

.z-behind {
    z-index: -1;
}

/* Suspension points */

.txt-ovf-elip {
    overflow: hidden;
}

.txt-ovf-elip strong,
span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Image fit */

.of-coverh180 {
    object-fit: cover;
    height: 180px;
    width: 100%;
}

.of-cover100 {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Icon demisension */

.i-spec i {
    height: 20px;
    width: 20px;
}

.i-spec-small i {
    height: 15px;
    width: 15px;
}

/* Border */

.rounded-top {
    border-radius: 30px 30px 0 0;
}