/* Steps */

.step {
    position: relative;
    flex: 1 1 300px;
    counter-increment: step-counter;
    padding: 20px;
    border-radius: 15px;
    box-shadow: $shadow_2;
    background-color: #f6f6f6;

    &:last-child {
        background-color: rgba($color_1, .1);
    }

    &::before {
        /* Use counter increment to write 1, 2, 3 */
        content: counter(step-counter);
        position: absolute;
        left: -14px;
        font-size: 14px;
        height: 24px;
        width: 24px;
        text-align: center;
        line-height: 2;
        color: white;
        background-color: $color_1;
        border-radius: 50%;
    }

    span {
        float: left;
    }
}