@import 'variables';

/* animations */

@keyframes appear {
    from {
        margin-top: 20px;
        margin-bottom: 0;
        opacity: 0;
    }

    to {
        margin-top: 0;
        margin-bottom: 20px;
        opacity: 1;
    }
}

/* header */

.header-arrow {
    position: absolute;
    top: 28px;
    left: 21px;
    color: #353535;
    -webkit-text-stroke: 1px #353535;
}

/* Headings */

.hf-udln::after {
    content: "";
    position: absolute;
    width: 45px;
    left: 0;
    bottom: 12px;
    border-bottom: 3px solid $color_3;
}

/* menu card */

.menu-item {
    display: flex;
    margin-top: 20px;
    opacity: 0;
    animation: appear 1.5s forwards;
}

.menu-input:checked + label {
    .check {
    width: 80px;
    }
    .check-icon {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.menu-label {
    display: flex;
    width: 100%;
    position: relative;
    border-radius: 18px;
    background-color: white;
    box-shadow: $shadow_2;
	overflow: hidden;
	cursor: pointer;
    .check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        transition: width 1s;
        background-color: $color_3;
    }
    .check-icon {
        color: white;
        transform: rotate(360deg);
        transition: transform 1s;
    }

}

/* Item appearance delay */

@for $i from 1 through 3 {
    .menu-item:nth-child(#{$i}n) {
        animation-delay: #{$i * 0.2}s;
    }
}

/* media queries 

Large screen */

@media screen and (min-width: 1250px) {
    .ls-flex {
        display: flex;
    }

    .ls-menu {
        margin: 0;
        border-radius: 0;
        min-width: 55vw;
        max-height: 100vh;
        overflow: scroll;
    }

    .mx-h-50 {
        max-height: none;
    }
}
